
<section class="featured">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-6 col-md-offset-3">

                <div class="align-center">
                    <i class="fa fa-flask fa-5x mar-bot20"></i>
                    <h2 class="slogan">Societe Côté Embourse</h2>
                    <p>
                        Attijariwafa Bank exerce les activités bancaires traditionnelles s'adressant aux professionnels, particuliers et aux marocains résidant à l'étranger.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
